version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sql_backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      mongodb:
        condition: service_healthy
      postgres:
        condition: service_healthy
    restart: always
  postgres:
    image: postgres:17-alpine
    container_name: ciphersql_postgres
    command: >
      postgres
      -c statement_timeout=5000
      -c idle_in_transaction_session_timeout=10000
      -c max_connections=200
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ciphersqlstudio_app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - sandboxdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  mongodb:
    image: mongo:7
    container_name: ciphersql_mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongodata:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  sandboxdata:
  mongodata: