@use 'variables' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $fw-bold;
    line-height: 1.2;
}

h1 {
    font-size: $fs-3xl;
}

h2 {
    font-size: $fs-2xl;
}

h3 {
    font-size: $fs-xl;
}

h4 {
    font-size: $fs-lg;
}

p {
    font-size: $fs-md;
    color: $color-text;
}

small {
    font-size: $fs-sm;
    color: $color-muted;
}

code {
    font-family: $font-mono;
    font-size: $fs-sm;
    background: $color-surface-2;
    padding: 2px 6px;
    border-radius: $radius-sm;
}