@use 'reset';
@use 'typography';
@use 'buttons';
@use 'layout';
@use 'forms';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=JetBrains+Mono:wght@400;500&display=swap');